*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

.content{
  padding-top: 35px;
  width: 100%;
  overflow: auto;
}

.content__recommended{
  margin-top: 20px;
}

.content__header{
  margin-bottom: 32px;
}

.main {
  display: grid;
  grid-template-columns: max-content 80%;
  grid-gap: 52px;
  padding-right: 52px;
  width: 100%;
  height: 100vh;
  background: url(./assets/lol.jpg);
  border-radius: 35px;
  overflow: hidden;
  padding-right: 52px;
}

.swiper{
  height: inherit;
}

@media (max-width: 1220px) {
  .content{
    overflow: scroll;
  }
}

.content__slider{
  height: 500px;
  padding-top: 30px;
}

@media (min-width: 1220px) {
  .content__slider{
    width: 100%;
  }
}